/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/* line 15, ../scss/_settings.scss */
.container {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 960px;
}
/* line 197, ../scss/jeet/_grid.scss */
.container:before, .container:after {
  content: '';
  display: table;
}
/* line 201, ../scss/jeet/_grid.scss */
.container:after {
  clear: both;
}

/* line 1, ../scss/_else.scss */
main {
  background-color: #fdfdfd;
  background-image: -moz-linear-gradient(top, #efe9e5 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(top, #efe9e5 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #efe9e5 0%, #ffffff 100%);
  padding-top: 60px;
}

/* line 7, ../scss/_else.scss */
.specslider__container {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
  position: relative;
}

/* line 14, ../scss/_else.scss */
.specslider {
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 19, ../scss/_else.scss */
.specslider .specslider__wrapper {
  width: 9999px;
  height: 100%;
  z-index: 3;
}
/* line 25, ../scss/_else.scss */
.specslider .specslider__wrapper .specslider__item {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  width: 239px;
  margin: 0;
}
/* line 197, ../scss/jeet/_grid.scss */
.specslider .specslider__wrapper .specslider__item:before, .specslider .specslider__wrapper .specslider__item:after {
  content: '';
  display: table;
}
/* line 201, ../scss/jeet/_grid.scss */
.specslider .specslider__wrapper .specslider__item:after {
  clear: both;
}
/* line 49, ../scss/jeet/_grid.scss */
.specslider .specslider__wrapper .specslider__item:last-child {
  margin-right: 0%;
}
/* line 31, ../scss/_else.scss */
.specslider .specslider__wrapper .specslider__item a {
  display: block;
  text-decoration: none;
  text-align: center;
}
/* line 35, ../scss/_else.scss */
.specslider .specslider__wrapper .specslider__item a:hover {
  opacity: 0.8;
}
/* line 40, ../scss/_else.scss */
.specslider .specslider__wrapper .specslider__item img {
  margin-bottom: 15px;
}
/* line 44, ../scss/_else.scss */
.specslider .specslider__wrapper .specslider__item .specslider__item__title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}

/* line 53, ../scss/_else.scss */
.specslider__nav {
  display: block;
  position: absolute;
  top: 50%;
  width: 58px;
  height: 58px;
  margin-top: -29px;
  text-align: center;
  line-height: 58px;
  font-size: 50px;
  color: #5B9512;
}
/* line 63, ../scss/_else.scss */
.specslider__nav:hover {
  opacity: 0.8;
}
/* line 66, ../scss/_else.scss */
.specslider__nav.specslider__nav--next {
  right: 0;
  text-indent: 2px;
}
/* line 70, ../scss/_else.scss */
.specslider__nav.specslider__nav--prev {
  left: 0;
  text-indent: -2px;
}

/* line 2, ../scss/_ui.scss */
.ui-helper-hidden {
  display: none;
}

/* line 5, ../scss/_ui.scss */
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 15, ../scss/_ui.scss */
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

/* line 25, ../scss/_ui.scss */
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

/* line 31, ../scss/_ui.scss */
.ui-helper-clearfix:after {
  clear: both;
}

/* line 34, ../scss/_ui.scss */
.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */
}

/* line 37, ../scss/_ui.scss */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

/* line 47, ../scss/_ui.scss */
.ui-front {
  z-index: 100;
}

/* Interaction Cues
----------------------------------*/
/* line 54, ../scss/_ui.scss */
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
/* line 63, ../scss/_ui.scss */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
/* line 75, ../scss/_ui.scss */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 82, ../scss/_ui.scss */
.ui-resizable {
  position: relative;
}

/* line 85, ../scss/_ui.scss */
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}

/* line 90, ../scss/_ui.scss */
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

/* line 94, ../scss/_ui.scss */
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

/* line 101, ../scss/_ui.scss */
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

/* line 108, ../scss/_ui.scss */
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

/* line 115, ../scss/_ui.scss */
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

/* line 122, ../scss/_ui.scss */
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

/* line 129, ../scss/_ui.scss */
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

/* line 136, ../scss/_ui.scss */
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

/* line 143, ../scss/_ui.scss */
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

/* line 150, ../scss/_ui.scss */
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
}

/* line 155, ../scss/_ui.scss */
.ui-slider {
  position: relative;
  text-align: left;
}

/* line 159, ../scss/_ui.scss */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}

/* line 166, ../scss/_ui.scss */
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* For IE8 - See #6727 */
/* line 176, ../scss/_ui.scss */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

/* line 181, ../scss/_ui.scss */
.ui-slider-horizontal {
  height: .8em;
}

/* line 184, ../scss/_ui.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

/* line 188, ../scss/_ui.scss */
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

/* line 192, ../scss/_ui.scss */
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

/* line 195, ../scss/_ui.scss */
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* line 199, ../scss/_ui.scss */
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

/* line 203, ../scss/_ui.scss */
.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

/* line 208, ../scss/_ui.scss */
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

/* line 212, ../scss/_ui.scss */
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

/* line 215, ../scss/_ui.scss */
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/* Component containers
----------------------------------*/
/* line 221, ../scss/_ui.scss */
.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
}

/* line 225, ../scss/_ui.scss */
.ui-widget .ui-widget {
  font-size: 1em;
}

/* line 228, ../scss/_ui.scss */
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em;
}

/* line 235, ../scss/_ui.scss */
.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  color: #222222;
}

/* line 240, ../scss/_ui.scss */
.ui-widget-content a {
  color: #222222;
}

/* line 243, ../scss/_ui.scss */
.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #cccccc;
  color: #222222;
  font-weight: bold;
}

/* line 249, ../scss/_ui.scss */
.ui-widget-header a {
  color: #222222;
}

/* line 1, ../scss/_slider.scss */
#slider-hero {
  position: relative;
  z-index: 1;
  height: 420px;
  background: url("../i/slider-bg.png") 0 0 repeat-x;
}
/* line 6, ../scss/_slider.scss */
#slider-hero .slider__slides {
  height: 100%;
}
/* line 8, ../scss/_slider.scss */
#slider-hero .slider__slides .container {
  height: 100%;
}
/* line 12, ../scss/_slider.scss */
#slider-hero .slider__slides .slider__container .slider__item {
  position: relative;
  display: none;
}
/* line 15, ../scss/_slider.scss */
#slider-hero .slider__slides .slider__container .slider__item img.slider__image {
  width: auto;
  height: 420px;
  position: absolute;
  left: -225px;
}
/* line 21, ../scss/_slider.scss */
#slider-hero .slider__slides .slider__container .slider__item .slider__content {
  position: relative;
  top: 160px;
  left: 350px;
  width: 550px;
}
/* line 25, ../scss/_slider.scss */
#slider-hero .slider__slides .slider__container .slider__item .slider__content h1 {
  font-size: 36px;
  margin-bottom: 13px;
  font-weight: bold;
}
/* line 30, ../scss/_slider.scss */
#slider-hero .slider__slides .slider__container .slider__item .slider__content h2 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}
/* line 36, ../scss/_slider.scss */
#slider-hero .slider__slides .slider__container .slider__item.active {
  display: block;
}
/* line 41, ../scss/_slider.scss */
#slider-hero .slider__slides .slider__nav {
  display: block;
  position: absolute;
  top: 50%;
  width: 58px;
  height: 58px;
  margin-top: -29px;
  background-color: #fff;
  text-align: center;
  line-height: 58px;
  font-size: 50px;
  color: #5B9512;
}
/* line 52, ../scss/_slider.scss */
#slider-hero .slider__slides .slider__nav:hover {
  opacity: 0.8;
}
/* line 55, ../scss/_slider.scss */
#slider-hero .slider__slides .slider__nav.slider__nav--next {
  right: 0;
  text-indent: 2px;
}
/* line 59, ../scss/_slider.scss */
#slider-hero .slider__slides .slider__nav.slider__nav--prev {
  left: 0;
  text-indent: -2px;
}
/* line 64, ../scss/_slider.scss */
#slider-hero .slider__slides .slider__dots {
  position: absolute;
  width: 100%;
  z-index: 2;
  bottom: 60px;
  height: 24px;
  text-align: center;
}
/* line 71, ../scss/_slider.scss */
#slider-hero .slider__slides .slider__dots .slider__dot {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 20px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #b9b9b9;
}
/* line 81, ../scss/_slider.scss */
#slider-hero .slider__slides .slider__dots .slider__dot:before {
  display: block;
  position: absolute;
  content: ' ';
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  -moz-box-shadow: 0 2px 3px rgba(0, 1, 0, 0.6), inset 0 -1px 3px rgba(109, 162, 63, 0.6);
  -webkit-box-shadow: 0 2px 3px rgba(0, 1, 0, 0.6), inset 0 -1px 3px rgba(109, 162, 63, 0.6);
  box-shadow: 0 2px 3px rgba(0, 1, 0, 0.6), inset 0 -1px 3px rgba(109, 162, 63, 0.6);
  background-image: -moz-linear-gradient(top, #fbfdfb 0%, #c5ddc1 100%);
  background-image: -webkit-linear-gradient(top, #fbfdfb 0%, #c5ddc1 100%);
  background-image: linear-gradient(to bottom, #fbfdfb 0%, #c5ddc1 100%);
}
/* line 95, ../scss/_slider.scss */
#slider-hero .slider__slides .slider__dots .slider__dot.active:before {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  -moz-box-shadow: 0 2px 3px rgba(0, 1, 0, 0.3), inset 0 -1px 3px rgba(194, 155, 112, 0.6);
  -webkit-box-shadow: 0 2px 3px rgba(0, 1, 0, 0.3), inset 0 -1px 3px rgba(194, 155, 112, 0.6);
  box-shadow: 0 2px 3px rgba(0, 1, 0, 0.3), inset 0 -1px 3px rgba(194, 155, 112, 0.6);
  background-image: -moz-linear-gradient(top, #ffe3a1 0%, #e16909 100%);
  background-image: -webkit-linear-gradient(top, #ffe3a1 0%, #e16909 100%);
  background-image: linear-gradient(to bottom, #ffe3a1 0%, #e16909 100%);
}

/* line 39, ../scss/_lightbox.scss */
body:after {
  content: url(../i/prev.png) url(../i/next.png);
  display: none;
}

/* line 44, ../scss/_lightbox.scss */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 54, ../scss/_lightbox.scss */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
/* line 62, ../scss/_lightbox.scss */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 68, ../scss/_lightbox.scss */
.lightbox a img {
  border: none;
}

/* line 73, ../scss/_lightbox.scss */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 83, ../scss/_lightbox.scss */
.lb-container {
  padding: 4px;
}

/* line 87, ../scss/_lightbox.scss */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 97, ../scss/_lightbox.scss */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  font-size: 32px;
  color: #000;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  text-shadow: rgba(255, 255, 255, 0.5) 0 0 30px;
}
/* line 117, ../scss/_lightbox.scss */
.lb-cancel:before {
  content: "\f021";
}

/* line 122, ../scss/_lightbox.scss */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 131, ../scss/_lightbox.scss */
.lb-container > .nav {
  left: 0;
}

/* line 135, ../scss/_lightbox.scss */
.lb-nav a {
  outline: none;
}

/* line 139, ../scss/_lightbox.scss */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 147, ../scss/_lightbox.scss */
.lb-prev {
  left: 0;
  float: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
/* line 152, ../scss/_lightbox.scss */
.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background: url(../i/prev.png) left 48% no-repeat;
}

/* line 158, ../scss/_lightbox.scss */
.lb-next {
  right: 0;
  float: right;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
/* line 163, ../scss/_lightbox.scss */
.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background: url(../i/next.png) right 48% no-repeat;
}

/* line 169, ../scss/_lightbox.scss */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 177, ../scss/_lightbox.scss */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
  position: relative;
}
/* line 181, ../scss/_lightbox.scss */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 187, ../scss/_lightbox.scss */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 192, ../scss/_lightbox.scss */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
/* line 199, ../scss/_lightbox.scss */
.lb-data .lb-close {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 30px;
  position: absolute;
  bottom: -30px;
  right: 0;
  color: #fff;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  visibility: hidden;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/* line 215, ../scss/_lightbox.scss */
.lb-data .lb-close:before {
  content: "\f00d";
  visibility: visible;
}
/* line 221, ../scss/_lightbox.scss */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 1, ../scss/_header.scss */
header {
  padding: 32px 0;
  height: 190px;
  background: url("../i/header-bg.jpg") center center no-repeat #080b04;
  position: relative;
  z-index: 2;
}
/* line 8, ../scss/_header.scss */
header nav {
  height: 74px;
  border: 1px solid #5d8e10;
  background-color: #589313;
  margin-top: 30px;
  position: relative;
  -moz-border-radius: 38px;
  -webkit-border-radius: 38px;
  border-radius: 38px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 0 rgba(232, 255, 141, 0.36), 0 5px 0 #487009, 0 6px 2px rgba(102, 154, 17, 0.5), 0 3px 0 7px #eaf5d8, inset 0 1px 0 #84c217;
  -webkit-box-shadow: 0 1px 0 rgba(232, 255, 141, 0.36), 0 5px 0 #487009, 0 6px 2px rgba(102, 154, 17, 0.5), 0 3px 0 7px #eaf5d8, inset 0 1px 0 #84c217;
  box-shadow: 0 1px 0 rgba(232, 255, 141, 0.36), 0 5px 0 #487009, 0 6px 2px rgba(102, 154, 17, 0.5), 0 3px 0 7px #eaf5d8, inset 0 1px 0 #84c217;
  background-image: -moz-linear-gradient(top, #589313 0%, #6c9d10 100%);
  background-image: -webkit-linear-gradient(top, #589313 0%, #6c9d10 100%);
  background-image: linear-gradient(to bottom, #589313 0%, #6c9d10 100%);
}
/* line 27, ../scss/_header.scss */
header nav ul {
  height: 100%;
}
/* line 29, ../scss/_header.scss */
header nav ul li.nav__listitem {
  list-style: none;
  float: left;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
  height: 100%;
  border-right: 1px solid #6EA224;
  border-left: 1px solid #498f04;
}
/* line 197, ../scss/jeet/_grid.scss */
header nav ul li.nav__listitem:before, header nav ul li.nav__listitem:after {
  content: '';
  display: table;
}
/* line 201, ../scss/jeet/_grid.scss */
header nav ul li.nav__listitem:after {
  clear: both;
}
/* line 39, ../scss/_header.scss */
header nav ul li.nav__listitem.dropdown:hover .nav-block {
  display: block;
}
/* line 42, ../scss/_header.scss */
header nav ul li.nav__listitem.dropdown .nav-block {
  display: none;
  width: 270px;
  position: relative;
  -moz-box-shadow: 0 0 35px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.18);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.18);
  height: auto;
  padding: 18px 0 11px;
  border-bottom: 7px solid #5E9611;
  background-color: #fff;
}
/* line 51, ../scss/_header.scss */
header nav ul li.nav__listitem.dropdown .nav-block li {
  background-color: #fff;
  list-style: none;
  float: none;
  display: block;
}
/* line 57, ../scss/_header.scss */
header nav ul li.nav__listitem.dropdown .nav-block li a, header nav ul li.nav__listitem.dropdown .nav-block li a:link, header nav ul li.nav__listitem.dropdown .nav-block li a:visited {
  border-bottom: 1px solid #D1D1D1;
  padding: 13px 30px 13px 40px;
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  line-height: 14px;
}
/* line 66, ../scss/_header.scss */
header nav ul li.nav__listitem.dropdown .nav-block li a:hover, header nav ul li.nav__listitem.dropdown .nav-block li a:link:hover, header nav ul li.nav__listitem.dropdown .nav-block li a:visited:hover {
  background-color: #f5f5f5;
}
/* line 72, ../scss/_header.scss */
header nav ul li.nav__listitem.dropdown .nav-block li:last-child a, header nav ul li.nav__listitem.dropdown .nav-block li:last-child a:link, header nav ul li.nav__listitem.dropdown .nav-block li:last-child a:visited {
  border-bottom: none;
}
/* line 79, ../scss/_header.scss */
header nav ul li.nav__listitem:first-child {
  border-left: none;
}
/* line 81, ../scss/_header.scss */
header nav ul li.nav__listitem:first-child a.nav__item, header nav ul li.nav__listitem:first-child a.nav__item:link, header nav ul li.nav__listitem:first-child a.nav__item:visited {
  border-top-left-radius: 38px;
  border-bottom-left-radius: 38px;
}
/* line 86, ../scss/_header.scss */
header nav ul li.nav__listitem:last-child {
  border-right: none;
}
/* line 88, ../scss/_header.scss */
header nav ul li.nav__listitem:last-child a.nav__item, header nav ul li.nav__listitem:last-child a.nav__item:link, header nav ul li.nav__listitem:last-child a.nav__item:visited {
  border-top-right-radius: 38px;
  border-bottom-right-radius: 38px;
}
/* line 93, ../scss/_header.scss */
header nav ul li.nav__listitem a.nav__item, header nav ul li.nav__listitem a.nav__item:link, header nav ul li.nav__listitem a.nav__item:visited {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fefefe;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 0 #3a6702;
  padding-top: 26px;
}
/* line 107, ../scss/_header.scss */
header nav ul li.nav__listitem.active a.nav__item, header nav ul li.nav__listitem.active a.nav__item:link, header nav ul li.nav__listitem.active a.nav__item:visited, header nav ul li.nav__listitem:hover a.nav__item, header nav ul li.nav__listitem:hover a.nav__item:link, header nav ul li.nav__listitem:hover a.nav__item:visited {
  color: #fefefe;
  -moz-box-shadow: inset 0 0 21px #456f09, inset 0 0 44px 2px rgba(251, 247, 193, 0.22);
  -webkit-box-shadow: inset 0 0 21px #456f09, inset 0 0 44px 2px rgba(251, 247, 193, 0.22);
  box-shadow: inset 0 0 21px #456f09, inset 0 0 44px 2px rgba(251, 247, 193, 0.22);
  background-image: -moz-linear-gradient(top, #599513 0%, #699b0f 100%);
  background-image: -webkit-linear-gradient(top, #599513 0%, #699b0f 100%);
  background-image: linear-gradient(to bottom, #599513 0%, #699b0f 100%);
}
/* line 117, ../scss/_header.scss */
header .header__logo, header .header__search, header .header__contacts {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%;
}
/* line 197, ../scss/jeet/_grid.scss */
header .header__logo:before, header .header__logo:after, header .header__search:before, header .header__search:after, header .header__contacts:before, header .header__contacts:after {
  content: '';
  display: table;
}
/* line 201, ../scss/jeet/_grid.scss */
header .header__logo:after, header .header__search:after, header .header__contacts:after {
  clear: both;
}
/* line 49, ../scss/jeet/_grid.scss */
header .header__logo:last-child, header .header__search:last-child, header .header__contacts:last-child {
  margin-right: 0%;
}
/* line 121, ../scss/_header.scss */
header .header__contacts {
  padding-top: 12px;
}
/* line 124, ../scss/_header.scss */
header .header__contacts, header .header__contacts h1, header .header__contacts h2, header .header__contacts h3, header .header__contacts span, header .header__contacts a, header .header__contacts a:link, header .header__contacts a:visited {
  margin-bottom: 0;
  line-height: 1.2;
  color: #fff;
  text-shadow: 0 0 5px #7b9553;
}
/* line 130, ../scss/_header.scss */
header .header__contacts h1 {
  margin-bottom: 3px;
}
/* line 133, ../scss/_header.scss */
header .header__contacts a, header .header__contacts a:link, header .header__contacts a:visited {
  text-decoration: none;
}
/* line 136, ../scss/_header.scss */
header .header__contacts a:hover, header .header__contacts a:link:hover, header .header__contacts a:visited:hover {
  text-decoration: underline;
}
/* line 144, ../scss/_header.scss */
header .header__search input[type="text"] {
  width: 220px;
  height: 34px;
  padding: 0 20px 0 35px;
  border: 1px solid rgba(22, 59, 95, 0.33);
  background-color: #fff;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -moz-box-shadow: inset 0 3px 3px rgba(2, 3, 3, 0.12);
  -webkit-box-shadow: inset 0 3px 3px rgba(2, 3, 3, 0.12);
  box-shadow: inset 0 3px 3px rgba(2, 3, 3, 0.12);
  margin-top: 27px;
  color: #acacac;
  font-size: 12px;
  font-style: italic;
}
/* line 4, ../scss/app.scss */
header .header__search input[type="text"] ::-webkit-input-placeholder {
  color: #acacac;
  font-size: 12px;
  font-style: italic;
}
/* line 5, ../scss/app.scss */
header .header__search input[type="text"] :-moz-placeholder {
  color: #acacac;
  font-size: 12px;
  font-style: italic;
}
/* line 6, ../scss/app.scss */
header .header__search input[type="text"] ::-moz-placeholder {
  color: #acacac;
  font-size: 12px;
  font-style: italic;
}
/* line 7, ../scss/app.scss */
header .header__search input[type="text"] :-ms-input-placeholder {
  color: #acacac;
  font-size: 12px;
  font-style: italic;
}
/* line 167, ../scss/_header.scss */
header .header__search input[type="text"] + label {
  position: relative;
  color: #acacac;
  left: -210px;
  font-size: 14px;
}

/* line 33, ../scss/app.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 39, ../scss/app.scss */
body {
  font-family: 'Clear Sans', Helvetica, Arial, sans-serif;
  background: #fdfdfc;
  line-height: 150%;
  font-size: 16px;
}

/* line 46, ../scss/app.scss */
a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

/* line 57, ../scss/app.scss */
#page-wrap {
  overflow: hidden;
}

/* line 61, ../scss/app.scss */
h1, h2, h3, h4 {
  color: #000;
  font-weight: 200;
  margin-bottom: 30px;
}

/* line 68, ../scss/app.scss */
h1 {
  font-size: 30px;
}

/* line 72, ../scss/app.scss */
p {
  line-height: 120%;
}

/* line 76, ../scss/app.scss */
strong {
  font-weight: bold;
}

/* line 80, ../scss/app.scss */
.right {
  float: right !important;
}

/* line 84, ../scss/app.scss */
.left {
  float: left !important;
}

/* line 88, ../scss/app.scss */
a, input, textarea, .btn {
  outline: none;
}

/* line 93, ../scss/app.scss */
a {
  color: #000;
}
/* line 95, ../scss/app.scss */
a:hover {
  color: #333333;
}

/* line 100, ../scss/app.scss */
.lbox {
  display: block;
  border: 9px solid #fff;
  -moz-box-shadow: 1px 1px 0 0 #96c4ea;
  -webkit-box-shadow: 1px 1px 0 0 #96c4ea;
  box-shadow: 1px 1px 0 0 #96c4ea;
}
/* line 105, ../scss/app.scss */
.lbox:hover {
  opacity: 0.9;
}

/* line 110, ../scss/app.scss */
.container {
  position: relative;
  z-index: 1;
}
