- var active = 0
- var pageName = 'О компании'
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
    //- Uncomment for LiveReload
    //- <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  body
    .page-wrap
      include includes/header
      main
        .container
          h1 О компании
          .breadcrumbs
            ul
              li: a(href="#") Главная
              li: a(href="#") О компании
          p Большое значение для развития производства бумаги имело изобретение во второй половине XVII века размалывающего аппарата — ролла. В конце XVIII века роллы уже позволяли изготавливать большое количество бумажной массы, но ручной отлив (вычерпывание) бумаги задерживал рост производства. В 1799 Н. Л. Робер (Франция) изобрёл бумагоделательную машину, механизировав отлив бумаги путём применения бесконечно движущейся сетки. В Англии братья Г. и С. Фурдринье, купив патент Робера, продолжали работать над механизацией отлива и в 1806 запатентовали бумагоделательную машину. К середине XIX века бумагоделательная машина превратилась в сложный агрегат, работающий непрерывно и в значительной мере автоматически. В XX веке производство бумаги становится крупной высокомеханизированной отраслью промышленности с непрерывно-поточной технологической схемой, мощными теплоэлектрическими станциями и сложными химическими цехами по производству волокнистых полуфабрикатов.
          h5 Наши достижения
          p.well Китайские летописи сообщают, что бумага была изобретена в 105 году н. э. Цай Лунем (см. четыре великих изобретения)[2]. Однако в 1957 году в пещере Баоця с еверной провинции Китая Шаньси обнаружена гробница, где были найдены обрывки листов бумаги. Бумагу исследовали и установили, что она была изготовлена во II веке до нашей эры. До Цай Луня бумагу в Китае делали из пеньки, а ещё раньше из шёлка, который изготавливали из бракованных коконов шелкопряда.
          p.col-8-12 Большое значение для развития производства бумаги имело изобретение во второй половине XVII века размалывающего аппарата — ролла. В конце XVIII века роллы уже позволяли изготавливать большое количество бумажной массы, но ручной отлив (вычерпывание) бумаги задерживал рост производства. В 1799 Н. Л. Робер (Франция) изобрёл бумагоделательную машину, механизировав отлив бумаги путём применения бесконечно движущейся сетки. В Англии братья Г. и С. Фурдринье, купив патент Робера, продолжали работать над механизацией отлива и в 1806 запатентовали бумагоделательную машину. волокнистых полуфабрикатов.
          blockquote.col-4-12
            img(src="i/placeholder-2.jpg", width="65", height="65")
            p Большое значение для развития производства бумаги имело изобретение во второй половине XVII века размалывающего аппарата
        .container
          .well-contacts.well-contacts--full
            .social
              a.vk(href="#") В
              a.fb(href="#"): i.fa.fa-facebook
              a.tw(href="#"): i.fa.fa-twitter
            h1 Контактная информация
            .col-1-2
              i.fa.fa-map-marker.fa-fw
              h5 Адрес:
              span г. Владивосток, ул Светланская 78б, оф 103
              i.fa.fa-phone.fa-fw
              h5 Телефон:
              span 8 (423) 277-66-22, 277-66-22
            .col-1-2
              i.fa.fa-envelope-o.fa-fw
              h5 E-mail:
              span: a(href="mailto:office@ecoluxpaper.ru") office@ecoluxpaper.ru
        include includes/footer
    include includes/tail