main {
	background-color: #fdfdfd;
	@include background-image(linear-gradient(to bottom, #efe9e5 0%, #fff 100%));
	padding-top: 60px;
}

.specslider__container {
	width: 100%;
	height: 200px;
	margin-bottom: 50px;
	position: relative;
}

.specslider {
	height: 100%;
	overflow: hidden;
	position: relative;

	.specslider__wrapper {
		//position: relative;
		width: 9999px;
		height: 100%;
		z-index: 3;

		.specslider__item {

			@include col(1/4);
			width: 239px;
			margin: 0;

			a {
				display: block;
				text-decoration: none;
				text-align: center;
				&:hover {
					opacity: 0.8;
				}
			}

			img {
				margin-bottom: 15px;
			}

			.specslider__item__title {
				font-size: 16px;
				font-weight: bold;
				line-height: 1.2;
			}
		}
	}
}

.specslider__nav {
	display: block;
	position: absolute;
	top: 50%;
	width: 58px; height: 58px;
	margin-top: -29px;
	text-align: center;
	line-height: 58px;
	font-size: 50px;
	color: #5B9512;
	&:hover {
		opacity: 0.8;
	}
	&.specslider__nav--next {
		right: 0;
		text-indent: 2px;
	}
	&.specslider__nav--prev {
		left: 0;
		text-indent: -2px;
	}
}