#slider-hero
	.slider__slides
		.container
			ul.slider__container
				li.slider__item.active
					img.slider__image(src="i/slide-1.png")
					.slider__content
						h1 Универсальная бумага 
						h2 для повседневной работы в офисе
						.slider__icons
							img(width="246", height="43", src="i/slider_icons.svg", onerror="this.onerror=null; this.src='i/slider_icons.png'")
				li.slider__item
					img.slider__image(src="i/slide-1.png")
					.slider__content
						h1 Универсальная бумага 
						h2 для повседневной работы в офисе2
						.slider__icons
							img(width="246", height="43", src="i/slider_icons.svg", onerror="this.onerror=null; this.src='i/slider_icons.png'")
				li.slider__item
					img.slider__image(src="i/slide-1.png")
					.slider__content
						h1 Универсальная бумага 
						h2 для повседневной работы в офисе3
						.slider__icons
							img(width="246", height="43", src="i/slider_icons.svg", onerror="this.onerror=null; this.src='i/slider_icons.png'")
				li.slider__item
					img.slider__image(src="i/slide-1.png")
					.slider__content
						h1 Универсальная бумага 
						h2 для повседневной работы в офисе4
						.slider__icons
							img(width="246", height="43", src="i/slider_icons.svg", onerror="this.onerror=null; this.src='i/slider_icons.png'")
			a.slider__nav.slider__nav--next(href='#')
				i.fa.fa-angle-right
			a.slider__nav.slider__nav--prev(href='#')
				i.fa.fa-angle-left
			.slider__dots